<div style="text-align: center">
  <h1>Welcome to app!</h1>
  <img
    width="450"
    src="https://raw.githubusercontent.com/nrwl/nx/master/images/nx-logo.png"
    alt="Nx - Smart, Fast and Extensible Build System"
  />
</div>
<div class="container">
  <h2>Registered users</h2>
  <table class="table table-bordered">
    <tr>
      <th>FirstName</th>
      <th>LastName</th>
      <th>Active</th>
    </tr>
    <tr *ngFor="let user of users$ | async">
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.isActive ? 'YES' : 'NO' }}</td>
    </tr>
  </table>
</div>